/* Apply iosevka font everywhere */
.workspace,
.cm-s-obsidian {
  font-family: "Iosevka Term", monospace !important;
  /*font-size: 14px; - adjust as needed */
}

/* Keep math in its original font */
.markdown-preview-view .math,
.CodeMirror pre {
  font-family: "Latin Modern Math", "Cambria Math", serif;
  font-size: 20px; /* slightly larger math for readability */
}
